/* Footer.css */
/* font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
  
    color: #f0f0f0;
    /* position: relative; */
  }
  
  .footer-spacer {
    flex: 0.5;
    height: 100vh;
    background-color: #000;
  }
  .footer-content {
    /* position: absolute; */
    flex: 3.5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-content: space-between; /* Evenly distributes space to push footer-info to the bottom */
    /* text-align: center; */
    /* gap: 2rem; */
    /* min-height: 100vh;  */
    min-height: 100vh;
    /* gap: 4rem; */
    /* width: 100%; */
 
}


.footer-text-content{
  /* align-self: center; */
  justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
  
  .footer-text-content h3 {
    font-size: 10rem;
    margin: 0;
    padding-bottom: 10px;
    -webkit-text-stroke: 2px #000; /* Text stroke for border effect */
    color: transparent; 
    white-space: nowrap;
    font-family: sofia-pro, sans-serif;
   
  }
  
  .footer-text-content p {
    font-size: 1rem;
    font-weight: 700;
    /* margin: 5px 0 15px; */
    color:#000;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin: 15px 0;
  }
  
  .social-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .social-icons a img:hover {
    transform: scale(1.2);
    /* opacity: 0.8; */
    /* color: yellow; */
    /* padding: 0.5rem; */
    /* border-radius: 50%; */
    /* border: 2px solid yellow; */
  }
  
.footer-info {
    background-color: #000;
    align-self: center;
    padding: 2rem;
    font-size: 1rem;
    max-width: 80%;

    color: #999;
    /* margin-top: auto; */
}

/* .copyright-bg{
    margin-bottom: 0;
    align-self: baseline;
    background-color: blue;
   
} */




.copyright-bg {
  background-color: blue;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center; /* Centers the .footer-info content horizontally */
  align-items: flex-end; /* Aligns the footer-info at the bottom of the copyright-bg */
  box-sizing: border-box; 
  margin: 0; /* Ensures no margin around this full-width container */
  width: 100%; /* Ensures it spans the full width */
  /* overflow: hidden;  */
  max-width: 100%;
  /* padding-bottom: 4rem; */
  height: 10vh; /* Fixed height for the copyright background */
}

.footer-info {
  max-width: 80%; /* Restricts content width if needed */
  flex-wrap: wrap ;
  color: #999;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem;  */
  /* padding: 0 1rem;  */
  /* Allow the footer-info to grow upwards */
  margin-bottom: 0;
} 
